<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="Cerad/Zayso API"/>
  <meta name="author"      content="Art Hundiak"/>
  <title>{% block title %}API 0.1{% endblock %}</title>
</head>
<body>
  <h1>Zayso API V0.1</h1>
  <p>Zayso is a soccer game management system including</p>
  <ul>
    <li>Game scheduling, score entry, results</li>
    <li>Referee registration, assigning and management</li>
    <li>Team registration and management</li>
  </ul>
  <h1>Introduction to Projects</h1>
  <p>A project is a group of related games.  There are two basic categories of projects.</p>
  <ul>
    <li>Seasonal - Games across a season.  Examples include Fall 2014 Adult, USSF, High School etc.</li>
    <li>Tournament - Typically a large number of games within a short time span.</li>
  </ul>
  <p>The api currently focuses on tournament projects in which the projectId is fixed and known.</p>
  
  <table border="1">
    <tr><th>Resource</th><th>Description</th></tr>
    <tr>
      <td>GET /project/{project-id}</td>
      <td>Returns a single project with a bunch of information.</td>
    </tr>
    <tr>
      <td>POST /project</td>
      <td>Create a project.  Returns 201 Location</td>
    </tr>
    <tr>
      <td>GET /project/{project-id}/game/{game-number}</td>
      <td>Returns a single game for a given project.  Note that game numbers are unique within a project.</td>
    </tr>
    <tr>
      <td>POST /project/{project-id}/game</td>
      <td>Create a Game</td>
    </tr>
    <tr>
      <td>GET /project/{project-id}/games</td>
      <td>Returns a set of games for a single project.  
          Search parameters will include: dates,times,programs,genders,ages etc.
      </td>
    </tr>
    <tr><td></td><td></td></tr>
    <tr>
      <td>GET /game/{game-id}</td>
      <td>Returns a single game.  gameId's are globally unique.</td>
    </tr>
    <tr>
      <td>GET /games</td>
      <td>Returns a set of games with many search parameters.</td>
    </tr>
  </table>
</body>
</html>


